<% if flash.present? %>
<div id='flash_message'>
  <%= flash[:notice] %>
</div>
<% end %>

<p>
  <strong>Title</strong> : <%= @article.title %>
</p>
<p>
  <strong>Text</strong> : <%= @article.text %>
</p>

<h3>Comments:</h3>

<ul>
<% @article.comments.each do | comment | %>
  <li>
    <%= comment.commenter %> |
    <%= comment.body %> |
    <%= comment.created_at %> |
    <%= link_to "Destroy", [comment.article, comment], method: :delete, data:{confirm:'Are you sure?'} %>
  </li>
<% end %>
</ul>


<%= form_for [@article, @article.comments.build] do | f | %>
<p>
  <%= f.label :commenter %><br />
  <%= f.text_field :commenter %>
</p>
<p>
  <%= f.label :body %><br />
  <%= f.text_area :body %>
</p>
  <%= f.submit %>
<% end %>

<br />

<%= link_to "Articles", articles_path %>